<div class="row">
    <div class="rcorners1" style="margin-left: 7%; margin-right: 60%; width: 35%; margin-top: 1%; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white; height: 570px">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 20px">Crear Modelo</h1>
<form name="modelo" (ngSubmit)="f.form.valid && createModelo()" #f="ngForm" novalidate>
      
      <div class="form-group" style="margin-left: 5%; margin-right: 5%">
    <label for="modeloId_marca">Seleccionar Marca</label>
        <select name="modeloId_marca" class="form-control" id="modeloId_marca" [(ngModel)]="modelo.id_marca"
                    #modeloId_marca="ngModel" [ngClass]="{ 'is-invalid': f.submitted && modeloId_marca.invalid }" required>
            <option *ngFor = "let marca of marcas" value="{{marca.id}}">{{marca.nombre}}</option>
        </select>
  </div>
      
            <div class="form-group" style="margin-left: 5%; margin-right: 5%">
          <label for="modeloNombre" style="font-family: 'Raleway', sans-serif "><b>Nombre del Modelo</b></label>
                <input type="text" name="modeloNombre" class="form-control" id="modeloNombre" [(ngModel)]="modelo.nombre"
                    #modeloNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && modeloNombre.invalid }" required>
                <div class="invalid-feedback">
                    <div></div>
                </div>
            </div>
      <div class="form-group" style="margin-left: 5%; margin-right: 5%">
          <label for="modeloNumPuertas" style="font-family: 'Raleway', sans-serif "><b>Numero de Puertas</b></label>
                <input type="number" name="modeloNumPuertas" class="form-control" id="modeloNumPuertas" [(ngModel)]="modelo.num_puertas"
                    #modeloNumPuertas="ngModel" [ngClass]="{ 'is-invalid': f.submitted && modeloNumPuertas.invalid }" required>
                <div class="invalid-feedback">
                    <div></div>
                </div>
            </div>
      <div class="form-group" style="margin-left: 5%; margin-right: 5%">
          <label for="modeloTransmision" style="font-family: 'Raleway', sans-serif "><b>Tipo de Transmision</b></label>
                <input type="text" name="modeloTransmision" class="form-control" id="modeloTransmisions" [(ngModel)]="modelo.transmision"
                    #modeloTransmision="ngModel" [ngClass]="{ 'is-invalid': f.submitted && modeloTransmision.invalid }" required>
                <div class="invalid-feedback">
                    <div></div>
                </div>
            </div>

            <div class="form-group" style="margin-left: 5%; margin-right: 5%">
                <label for="modeloCentCubicos " style="font-family: 'Raleway', sans-serif "><b>Centimetros Cubicos</b></label>
                <input type="text" name="modeloCentCubicos" class="form-control" id="modeloCentCubicos" [(ngModel)]="modelo.centimetros_cubicos"
                    #modeloCentCubicos="ngModel" [ngClass]="{ 'is-invalid': f.submitted && modeloCentCubicos.invalid }" required>
                <div class="invalid-feedback">
                    <div></div>
                </div>
            </div>
      <div class="row form-inline justify-content-center align-self-center" style="align-content: center; margin-left: 40%; margin-right: 30%; width: 40%">
          <button type="submit" class="btn" style="width: 50%; font-family: 'Raleway', sans-serif; background-image: linear-gradient(to right top, #00b25f, #00b25f, #00b25f, #00b25f, #00b25f); color:white ">Crear</button>
                <div class="divider"></div>
                <button type="button" style="margin-top: 5px; width: 50%; font-family: 'Raleway', sans-serif" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>

</div>