<div class="row">
  <div class="rcorners1 col-2" style="margin-left: 8%; width: 55%; height: 550px; margin-top: 1%; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
   
  <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center" style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Editar un punto de venta</h2>
        <br>
        <form name="puntoventa" (ngSubmit)="f.form.valid && createPunto()" #f="ngForm" novalidate>
          
          <div class="form-group"  style="margin-left: 5%; margin-right: 5%">
                <label for="puntoventaCiudad"  style="font-family: 'Raleway', sans-serif "><b>Ciudad</b></label>
                <input type="text" name="puntoventaCiudad" class="form-control" id="puntoventaCiudad" [(ngModel)]="puntoventa.Ciudad"
                    #puntoventaCiudad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && puntoventaCiudad.invalid }" required>
                <div class="invalid-feedback">
                    <!-- <div>Se requiere la ciudad del punto de venta.</div> -->
                </div>
            </div>
  
            <div class="form-group"  style="margin-left: 5%; margin-right: 5%">
                <label for="puntoventaUbicacion"  style="font-family: 'Raleway', sans-serif "><b>Ubicacion</b></label>
                    <input  type="text" class="form-control" id="puntoventaUbicacion" name="puntoventaUbicacion" [(ngModel)]="puntoventa.Ubicacion"
                    #puntoventaUbicacion="ngModel" [ngClass]="{'is-invalid': f.submitted &&  puntoventaUbicacion.invalid }"
                        required>
                    <div class="invalid-feedback">
                        <!-- <div>Se requiere la ubicación del punto de venta.</div> -->
                    </div>
                </div>
           
  
                <div class="form-group"  style="margin-left: 5%; margin-right: 5%">
                  <label for="puntoventaLatitud"  style="font-family: 'Raleway', sans-serif "><b>Latitud</b></label>
                  <input type="text" name="puntoventaLatitud" class="form-control" id="puntoventaLatitud" [(ngModel)]="puntoventa.Latitud"
                      #puntoventaLatitud="ngModel" [ngClass]="{ 'is-invalid': f.submitted && puntoventaLatitud.invalid }" required>
                  <div class="invalid-feedback">
                      <!-- <div>Se requiere la latitud del punto de venta</div> -->
                  </div>
              </div>
  
                <div class="form-group"  style="margin-left: 5%; margin-right: 5%">
                  <label for="puntoventaLongitud"  style="font-family: 'Raleway', sans-serif "><b>Longitud</b></label>
                  <input type="text" name="puntoventaLongitud" class="form-control" id="puntoventaLongitud" [(ngModel)]="puntoventa.Longitud"
                      #puntoventalongitud="ngModel" [ngClass]="{ 'is-invalid': f.submitted && puntoventaLongitud.invalid }" required>
                  <div class="invalid-feedback">
                      <!-- <div>Se requiere la longitud del punto de venta</div> -->
                  </div>
              </div>
  
     
  
            <div class="form-group"  style="margin-left: 5%; margin-right: 5%">
              <label for="puntoventaNumeroVendedores"  style="font-family: 'Raleway', sans-serif "><b>Número de vendedores</b></label>
              <input  type ="text" name="puntoventaNumeroVendedores" class="form-control" id="puntoventaNumeroVendedores" [(ngModel)]="puntoventa.numeroVendedores"
                  #puntoventaNumeroVendedores="ngModel" [ngClass]=" { 'is-invalid': f.submitted && puntoventaNumeroVendedores.invalid }" required>
  
                  <div class="invalid-feedback">
                  <!-- <div>Debe seleccionar el numero de vendedores</div> -->
              </div>
          </div>
          </form>
          </div>
          </div>
          </div>
          
    