<head>
  <script src="https://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
</head>
<div style="align-content: center; width: 100%">
  <h1 style="text-align: center;font-family:'Raleway', sans-serif;">Calificaciones</h1> 
</div>

<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
  <div class="col-md-2">
      <table class="table table-bordered table-hover">
          <thead class = "thead-dark">
              <tr>
                  <th>ID</th>
                  <th>Numero Estrellas</th>
                  <th>Comentario</th>
                
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let calificacion of calificaciones">
                  <td>{{calificacion.id}}</td>
                  <td>{{calificacion.numeroEstrellas}}</td>
                  <td>{{calificacion.comentario}}</td>
                 
              </tr>
          </tbody>
      </table>
  </div>
</div>
