<div class="row">
    <div class="rcorners1 col-4" style=" height: 860px; margin-top: 1%; margin-right: 15px ; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Crear Administrador</h1>
    <form name="administrador" (ngSubmit)="f.form.valid && createAdministrador()" #f="ngForm" class="form-signup needs-validation ng-untouched ng-invalid ng-dirty" novalidate>
        <div class="form-group">
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="administrador.nombre"
                #nombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" placeholder="Ej. Sebastián" ng-required="true" required>
            
                <div class="invalid-feedback">
            </div>
            
        </div>

        <div class="form-group">
            <label for="apellido"><b>Apellido</b></label>
            <input type="text" name="apellido" class="form-control" id="apellido" [(ngModel)]="administrador.apellido"
                #apellido="ngModel" [ngClass]="{ 'is-invalid': f.submitted && apellido.invalid }" placeholder="Ej. Bravo" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="nombreUsuario"><b>Nombre de usuario</b></label>
            <input type="text" name="nombreUsuario" class="form-control" id="nombreUsuario" [(ngModel)]="administrador.nombreUsuario"
                #nombreUsuario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombreUsuario.invalid }" placeholder="Ej. js.bravo" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="correo"><b>Correo electrónico</b></label>
            <input type="email" name="correo" class="form-control" id="correo" [(ngModel)]="administrador.correo"
                #correo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && correo.invalid }" placeholder="Ej. js.bravo@uniandes.edu.co"  required>
              

        </div>

        <div class="form-group">
            <label for="contrasena"><b>Contraseña</b></label>
            
            <input type="password" name="contrasena" class="form-control" id="contrasena" [(ngModel)]="administrador.contrasena"
                #contrasena="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contrasena.invalid }" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\\S+$).{8,}$" title="La contraseña debe tener mínimo: un número, un símbolo, una mayúscula y una minúscula. Su longitud debe ser superior a 8 caracteres" required>
                
                <password-strength-meter [password]=administrador.contrasena [enableFeedback]=false ></password-strength-meter>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="fechaInicio"><b>Fecha de inicio</b></label>
            <input type="date" name="fechaInicio" class="form-control" id="fechaInicio" [(ngModel)]="administrador.fechaInicio"
                #fechaInicio="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fechaInicio.invalid }" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="fechaNacimiento"><b>Fecha de nacimiento</b></label>
            <input type="date" name="fechaNacimiento" class="form-control" id="fechaNacimiento" [(ngModel)]="administrador.fechaNacimiento"
                #fechaNacimiento="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fechaNacimiento.invalid }" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>
     <!--   <div class="form-group">
            <label for="fechaNacimiento"><b>Fecha de nacimiento</b></label>
        <input [matDatepicker]="myDatepicker" name="fechaNacimiento" class ="form-control" id="fechaNacimiento" [(ngModel)]="administrador.fechaNacimiento" #fechaNacimiento="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && fechaNacimiento.invalid }" required>
<mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
<mat-datepicker #myDatepicker></mat-datepicker>
        </div>
        -->

        <div class="form-group">
            <label for="cargo"><b>Cargo</b></label>
            <input type="text" name="cargo" maxlength="15" class="form-control" id="cargo" [(ngModel)]="administrador.cargo"
                #cargo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cargo.invalid }"  required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="telefono"><b>Teléfono</b></label>
            <input type="number" name="telefono" maxlength="12" class="form-control" id="telefono" [(ngModel)]="administrador.telefono"
                #telefono="ngModel" [ngClass]="{ 'is-invalid': f.submitted && telefono.invalid }"  required>
            
                <div class="invalid-feedback">
            </div>
            

        </div>

      <div class="row form-inline justify-content-center align-self-center"></div>
          <div class="col-md-6">
              <button type="submit" class="btn btn-primary"  (click) = "createAdministrador()">Create</button>
          </div>
          <div class="divider"></div>
          <div class="col-md-6">

              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
     
      </div>



    </form>
    </div>


</div>