<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3">Punto de venta: {{puntoventaDetail.id}}<p> 
      <div class="row">
          <div class="col">
              <dl>     
                  <dt>Ciudad</dt>
                  <dd>{{puntoventaDetail.ciudad}}</dd>
                  <dt>Ubicación</dt>
                  <dd>{{puntoventaDetail.ubicacion}}</dd>
                  <dt>Latitud</dt>
                  <dd>{{puntoventaDetail.latitud}}</dd>
                  <dt>Longitud</dt>
                  <dd>{{puntoventaDetail.longitud}}</dd>
                  <dt>Numero de vendedores</dt>
                  <dd>{{puntoventaDetail.numeroVendedores}}</dd>
                 
                  
              </dl>
          </div>

      </div>
  </div>
</div>