<div class="row">
    <div class="rcorners1 col-4" style=" height: 400px; margin-top: 1%; width: 500px ; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Administrador: {{administradorDetail.id}}</h1>
<div class="panel-body">
  <div class="border margin">
      <div class="row">
          <div class="col">
              <dl>     
                  <dt class="tdf">Nombre</dt>
                  <dd class="ttf">{{administradorDetail.nombre}}</dd>
                  <dt class="tdf">Apellido</dt>
                  <dd class="ttf">{{administradorDetail.apellido}}</dd>
                  <dt class="tdf">Nombre de usuario</dt>
                  <dd class="ttf">{{administradorDetail.nombreUsuario}}</dd>
                  <dt class="tdf">Correo electrónico</dt>
                  <dd class="ttf">{{administradorDetail.correo}}</dd>
                  <dt class="tdf">Contraseña</dt>
                  <dd class="ttf">{{administradorDetail.contrasena}}</dd>
                  <dt class="tdf">Fecha de nacimiento</dt>
                  <dd class="ttf">{{parseDate(administradorDetail.fechaNacimiento) | date: medium}}</dd>
                  <dt class="tdf">Teléfono</dt>
                  <dd class="ttf">{{administradorDetail.telefono}}</dd>
                  
              </dl>
          </div>

      </div>
  </div>
</div>
            </div>


</div>
