<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3">Administrador: {{administradorDetail.id}}<p> 
      <div class="row">
          <div class="col">
              <dl>     
                  <dt>Nombre</dt>
                  <dd>{{administradorDetail.nombre}}</dd>
                  <dt>Apellido</dt>
                  <dd>{{administradorDetail.apellido}}</dd>
                  <dt>Nombre de usuario</dt>
                  <dd>{{administradorDetail.nombreUsuario}}</dd>
                  <dt>Correo electrónico</dt>
                  <dd>{{administradorDetail.correo}}</dd>
                  <dt>Contraseña</dt>
                  <dd>{{administradorDetail.contrasena}}</dd>
                  <dt>Fecha de nacimiento</dt>
                  <dd>{{parseDate(administradorDetail.fechaNacimiento) | date: medium}}</dd>
                  <dt>Teléfono</dt>
                  <dd>{{administradorDetail.telefono}}</dd>
                  
              </dl>
          </div>

      </div>
  </div>
</div>
