<p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Calificaciones del punto de venta
        </button>
    </p>

<div id="collapseReview" [ngbCollapse]="isCollapsed">
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let calificacion of calificacionespunto">
                <td><span id="punto-numEstrellas"><b>{{calificacion.num_estrellas}}</b></span><span><br> </span><span id="review-comentario">{{calificacion.comentario}}</span></td>
            </tr>
        </tbody>
    </table>
</div>