<!-- <p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Calificaciones del punto de venta
        </button>
    </p> -->

    <div class="container-fluid">
        <h2 *ngIf="calificacionespunto.length == 0">No hay calificaciones de este punto de venta</h2>
        <div *ngIf="calificacionespunto.length > 0">
            <h3 style="color:white; font-family: 'Raleway',sans-serif;">Calificaciones del punto de venta</h3>
        
            <p style="width: 40%; margin-left: 5%; color: white">Buscar calificaciones por fecha:</p>  
            <input style="width: 90%; margin-left: 5%;" type="date" class="form-control" name="searchString" placeholder="Calificación publicada" (ngModel)="searchString">
          
            <p style="width: 40%; margin-left: 5%; color: white">Buscar mejores calificaciones:</p>  
            <input style="width: 90%; margin-left: 5%;" type="number" class="form-control" name="searchnumb" placeholder="Calificación publicada" (ngModel)="searchnumb">
          

            <table class="table table-striped">
                <thead class="table head">
                    <th>Calificación</th>
                    <th>Comentario</th>
                    <th>Fecha de publicación</th>
                    <th></th>
                    <th></th>
                </thead>
            
                <tbody>
                    <tr *ngFor="let calificacion of calificacionespunto | filter : num_estrellas : searchnumb;let i = index">
                        <td id="review-num">{{calificacion.num_estrellas}}</td>
                        <td id="review-comentario">{{calificacion.comentario}}</td>
                        <td id="review-date">{{calificacion.publishedDate}}</td>
                        
                        <td *ngxPermissionsOnly="['ADMIN']">
                            <button class="btn btn-danger" (click)="deleteCalificacion(calificacion.id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="row">
                <div class="col-12 text-center">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div> -->
        </div>
    </div>
    

<!-- <div id="collapseReview" [ngbCollapse]="!isCollapsed">
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let calificacion of calificacionespunto">
                <td><span id="punto-numEstrellas"><b>{{calificacion.num_estrellas}}</b></span><br><span id="review-comentario">{{calificacion.comentario}}</span></td>
            </tr>
        </tbody>
    </table>
</div> -->