<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../src/bootstrap-table-filter.js"></script>
</head>

<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">
            <table class="table table-hover" style="width: 90%; margin-left: 5%; margin-top: 1%; 
               margin-right: 5%;  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               background-color: white">
                <thead class="thead-dark" style="background-image: linear-gradient(to top, #000000, #434343);">
                    <tr>
                        <th style="color: white; font-family: 'Raleway', sans-serif;">ID</th>
                        <th style="color: white; font-family: 'Raleway', sans-serif;">Descripcion</th>
                        <th style="color: white; font-family: 'Raleway', sans-serif;">Precio</th>
                        <th style="color: white; font-family: 'Raleway', sans-serif;">Disponibilidad</th>
                        <th style="color: white; font-family: 'Raleway', sans-serif;">Imagen</th>
                        <th style="color: white; font-family: 'Raleway', sans-serif;"></th>
                        <th style="color: white; font-family: 'Raleway', sans-serif;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let articulo of articulos" style="cursor: pointer;" (click)="onSelected(articulo.id)">

                        <td style="font-family: 'Raleway', sans-serif;" id="articulo-id" class="figure-caption" routerLink="/articulo/{{articulo.id}}">{{articulo.id}}</td>
                        <td style="font-family: 'Raleway', sans-serif;" id="descripcion-id" class="figure-caption" routerLink="/articulo/{{articulo.id}}">{{articulo.descripcion}}</td>
                        <td style="font-family: 'Raleway', sans-serif;" id="precio-id" class="figure-caption" routerLink="/articulo/{{articulo.id}}">{{articulo.precio}}</td>
                        <td style="font-family: 'Raleway', sans-serif;" id="disponibilidad-id" class="figure-caption" routerLink="/articulo/{{articulo.id}}">{{articulo.disponibilidad}}</td>
                        <td style="font-family: 'Raleway', sans-serif;" id="imagen-id" class="figure-caption" routerLink="/articulo/{{articulo.id}}">{{articulo.imagen}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="showHideEdit(articulo.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteArticulo(articulo.id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
                        <div class="row justify-content-center align-self-center" style="margin-left: 45px">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear una articulo</button>
            </div>
        </div>
        <br>
        <div>
            <div *ngIf="showView  && !showEdit">
                <app-articulo-detail [articulo]="selectArticulo"></app-articulo-detail>
            </div>
            <div *ngIf="showCreate" class="col-md-6">
                <app-articulo-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-articulo-create>
            </div>
            <div *ngIf="showEdit" class="col-md-6">
                <app-articulo-edit [articulo]="selectArticulo" (cancel)="showHideEdit(selectArticulo.id)" (update)="updateArticulo()" ></app-articulo-edit>
            </div>
        </div>
    </div>
</div>
<div style="background-image: linear-gradient(to top, #000000, #434343); margin-top: 10px; width: 100%; height: 150px" >
    <img src="../assets/images/logowhite.png" alt="logoCarteam" height="30" width="130" style="margin-left:10px; margin-right: 10px; margin-top: 15px; ">
    <p style="color: white; font-family: 'Raleway', sans-serif; margin-left:10px; margin-top: 10">TuNave Inc.</p>
</div>

