<div style="align-content: center; width: 100%">
    <h3 style="text-align: center;font-family:'Raleway', sans-serif;">Articulo #xxxxxxx</h3> 
</div>

<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead class = "thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Disponibilidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let articulo of articulos">
                    <td>{{articulo.id}}</td>
                    <td>{{articulo.precio}}</td>
                    <td>{{articulo.descripcion}}</td>
                    <td>{{articulo.disponibilidad}}</td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>
