<div class="row">
    <div class="rcorners1 col-4" style=" height: 350px; margin-top: 1%; margin-left: 13%; width: 350px ; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Articulo: {{articulo.id}}</h1>

<div class="panel-body">
    <div class="border margin">
        <div class="row">
            <div class="col">
                <dl>     
                    
                    <dt>Descripcion</dt>
                    <dd>{{articulo.descripcion}}</dd>
                    <dt>Precio</dt>
                    <dd>{{articulo.precio}}</dd>
                    <dt>Disponibilidad</dt>
                    <dd>{{articulo.disponibilidad}}</dd>
                    <dt>Imagen</dt>
                    <dd>{{articulo.imagen}}</dd>
                    <dt>Automovil</dt>
                    <dd>{{articulo.automovil != null? articulo.automovil.id:false }}</dd>
                    <dt>Factura</dt>
                    <dd>{{articulo.factura != null? articulo.factura.id:false}}</dd>
                    
                </dl>
            </div>
  
        </div>
    </div>
  </div>