

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../src/bootstrap-table-filter.js"></script>
</head>

<div style="background-color: black; z-index: 0">
    <img class="responsive" src="../assets/images/genericBack52.jpg" alt="head"
         style="width: 100%;z-index: -1; position: absolute; float: right; margin-top: -50px">
</div>

<div style="width: 100%; height: 100%; background-color: black"></div>

<div style="align-content: center; width: 100%">
    <h1 style="text-align: center;font-family:'Raleway', sans-serif; color: white">Marcas</h1> 
</div>

<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-12">
  <p style="width: 40%; margin-left: 5%; color: white">Buscar por nombre:</p>  
  <input style="width: 90%; margin-left: 5%;" type="text" class="form-control" name="searchString" placeholder="Nombre de la marca..." [(ngModel)]="searchString">

  
  
        <table class="table table-striped" style="width: 90%; margin-left: 5%; margin-top: 1%; 
               margin-right: 5%;  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               background-color: white">
            <thead class = "thead-dark" style="background-image: linear-gradient(to right top, #ff4e00, #ff6b00, #ff8500, #ff9b00, #ffb100); ">
                <tr>
                    <th style="color: white; font-family: 'Raleway', sans-serif;">ID</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif; width: 10%">Nombre</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif; width: 10%">Pais</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif;">Descripción</th>   
                    <th style="color: white; font-family: 'Raleway', sans-serif;">Editar</th> 
                    <th style="color: white; font-family: 'Raleway', sans-serif;">Eliminar</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let marca of marcas | filter : 'nombre' : searchString; let i = index">
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-id" class="figure-caption" routerLink="/marcas/{{marca.id}}">{{marca.id}}</td> 
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-nombre" class="figure-caption" routerLink="/marcas/{{marca.id}}">{{marca.nombre}}</td> 
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-pais" class="figure-caption" routerLink="/marcas/{{marca.id}}">{{marca.pais}}</td>
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-descripcion" class="figure-caption" routerLink="/marcas/{{marca.id}}">{{marca.descripcion}}</td>
                    <td id="marca-edit">
                            <button [ngClass]="{ 'btn-primary': (!showEdit || edit_marca_id != marca.id), 'btn-danger': (showEdit && edit_marca_id == marca.id) }"
                                type="button" class="btn" (click)="showEditMarca(marca.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                    <td id="marca-delete">
                            <button class="btn btn-danger" (click)="deleteMarca(marca.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="width: 90%; margin-left: 7%; margin-right: 5%; align-content: flex-end">
        <button style="font-family: 'Raleway', sans-serif;  border-color: transparent; background-image: linear-gradient(to right top, #00b25f, #00b25f, #00b25f, #00b25f, #00b25f);" [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
             (click)="showHideCreate()">Crear Marca</button>
</div>        
 <div>
     <app-marca-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"></app-marca-create>
     <app-marca-edit [marca_id]="edit_marca_id" (cancel)="hideEditMarca()" (update)="ngOnInit()"
                *ngIf="showEdit"></app-marca-edit>
</div>

