<div class="row">
    <div class="rcorners1 col-4" style=" height: 740px; margin-top: 1%; margin-right: 15px ; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Crear Cliente</h1>
    <form name="cliente" (ngSubmit)="f.form.valid && createCliente()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="cliente.nombre"
                #nombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="apellido"><b>Apellido</b></label>
            <input type="text" name="apellido" class="form-control" id="apellido" [(ngModel)]="cliente.apellido"
                #apellido="ngModel" [ngClass]="{ 'is-invalid': f.submitted && apellido.invalid }" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="nombreUsuario"><b>Nombre de usuario</b></label>
            <input type="text" name="nombreUsuario" class="form-control" id="nombreUsuario" [(ngModel)]="cliente.nombreUsuario"
                #nombreUsuario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombreUsuario.invalid }" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="correo"><b>Correo electrónico</b></label>
            <input type="email" name="correo" class="form-control" id="correo" [(ngModel)]="cliente.correo"
                #correo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && correo.invalid }"  required>
              

        </div>

        <div class="form-group">
            <label for="contrasena"><b>Contraseña</b></label>
   
            <input type="password" name="contrasena" class="form-control" id="contrasena" [(ngModel)]="cliente.contrasena"
                #contrasena="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contrasena.invalid }" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\\S+$).{8,}$" title="La contraseña debe tener mínimo: un número, un símbolo, una mayúscula y una minúscula. Su longitud debe ser superior a 8 caracteres" required>
                <password-strength-meter [password]=cliente.contrasena [enableFeedback]=false ></password-strength-meter>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

        <div class="form-group">
            <label for="fechaNacimiento"><b>Fecha de nacimiento</b></label>
            <input type="date" name="fechaNacimiento" class="form-control" id="fechaNacimiento" [(ngModel)]="cliente.fechaNacimiento"
                #fechaNacimiento="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fechaNacimiento.invalid }" required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

     <!--   <div class="form-group">
            <label for="fechaNacimiento"><b>Fecha de nacimiento</b></label>
        <input [matDatepicker]="myDatepicker" name="fechaNacimiento" class ="form-control" id="fechaNacimiento" [(ngModel)]="cliente.fechaNacimiento" #fechaNacimiento="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && fechaNacimiento.invalid }" required>
<mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
<mat-datepicker #myDatepicker></mat-datepicker>
        </div>
        -->

        <div class="form-group">
            <label for="telefono"><b>Teléfono</b></label>
            <input type="text" name="telefono" maxlength="12" class="form-control" id="telefono" [(ngModel)]="cliente.telefono"
                #telefono="ngModel" [ngClass]="{ 'is-invalid': f.submitted && telefono.invalid }"  required>
            <!--
                <div class="invalid-feedback">
                <div>Los vidrios de la ficha técnica estan faltando</div>
            </div>
            -->

        </div>

      <div class="row form-inline justify-content-center align-self-center">
          <div class="col-md-6">
              <button type="submit" class="btn btn-primary " (click)="createCliente()" >Create</button>
          </div>
          <div class="col-md-6">

              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
          </div>
      </div>



    </form>
    </div>


</div>