<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-6">
        <table class="table table-bordered table-hover">
            <thead class = "thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let cliente of clientes" style="cursor: pointer;" (click)="onSelected(cliente.id)">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombreUsuario}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td *ngxPermissionsOnly="['ADMIN']">
                        <button class="btn btn-primary" (click)="showHideEdit(cliente.id)"><span class="fa fa-pencil"></span></button>
                    </td>
                    <td *ngxPermissionsOnly="['ADMIN']">
                        <button class="btn btn-danger" (click)="deleteCliente(cliente.id)"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
   
                <div class="row justify-content-center align-self-center">
                        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                            (click)="showHideCreate()">Crear un cliente</button>
                    </div>
        
    </div>

    <div class="col-md-6">

            <div *ngIf="selectedCliente">
                <app-cliente-detail [clienteDetail]="selectedCliente"></app-cliente-detail>
            </div>

            <div *ngIf="showCreate">
                    <app-cliente-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-cliente-create>
                </div>

                <div *ngIf="showEdit">
                    <app-cliente-edit [cliente]="selectedCliente" (cancel)="showHideEdit(selectedCliente.id)" (update)="updateCliente()" ></app-cliente-edit>
                </div>
            
        </div>
</div>
