<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <br>
      <h2 class="text-center">Crear una calificacion</h2>
      <br>
      <form name="calificacion" (ngSubmit)="f.form.valid && createCalificacion()" #f="ngForm" novalidate>
        
        <div class="form-group">
              <label for="calificacionNumeroestrellas"><b>Número de Estrellas</b></label>
              <input type="text" name="calificacionNumeroestrellas" class="form-control" id="calificacionNumeroestrellas" [(ngModel)]="calificacion.Numeroestrellas"
                  #calificacionNumeroestrellas="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calificacionNumeroestrellas.invalid }" required>
              <div class="invalid-feedback">
                  <!-- <div>Se requiere un número de estrellas.</div> -->
              </div>
          </div>

          <div class="form-group">
              <label for="calificacionComentario"><b>Comentario</b></label>
                  <input  type="text" class="form-control" id="calificacionComentario" name="calificacionComentario" [(ngModel)]="calificacion.Comentario"
                  #calificacionComentario="ngModel" [ngClass]="{'is-invalid': f.submitted &&  calificacionComentario.invalid }"
                      required>
                  <div class="invalid-feedback">
                      <!-- <div>Se requiere  un comentario.</div> -->
                  </div>
              </div>
          

          <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Crear</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
          </div>
      </form>
    </div>
    
  <div class="col-3"></div>
</div>
