<div class="row">
    <div class="rcorners1 col-4" style=" height: 300px; margin-top: 1%; margin-right: 15px ; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Crear Calificación</h1>
    
      <form name="calificacion" (ngSubmit)="f.form.valid && createCalificacion()" #f="ngForm" novalidate>
        
        <div class="form-group">
              <label for="calificacionNumeroestrellas" style="font-family: 'Raleway', sans-serif "><b>Número de Estrellas</b></label>
              <input type="number" name="calificacionNumeroestrellas" class="form-control" id="calificacionNumeroestrellas" [(ngModel)]="calificacion.numEstrellas"
                  #calificacionNumeroestrellas="ngModel" [ngClass]="{ 'is-invalid': f.submitted && calificacionNumeroestrellas.invalid }" required>
              <div class="invalid-feedback">
                  <!-- <div>Se requiere un número de estrellas.</div> -->
              </div>
          </div>

          <div class="form-group">
              <label for="calificacionComentario" style="font-family: 'Raleway', sans-serif "><b>Comentario</b></label>
                  <input  type="text" class="form-control" id="calificacionComentario" name="calificacionComentario" [(ngModel)]="calificacion.Comentario"
                  #calificacionComentario="ngModel" [ngClass]="{'is-invalid': f.submitted &&  calificacionComentario.invalid }"
                      required>
                  <div class="invalid-feedback">
                      <!-- <div>Se requiere  un comentario.</div> -->
                  </div>
              </div>
          

          <div class="row form-inline justify-content-center align-self-center" style="align-content: center; margin-left: 40%; margin-right: 30%; width: 40%">
              <button type="submit" class="btn btn-primary">Crear</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
          </div>
      </form>
    </div>


</div>
