<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">

<div style="align-content: center; width: 100%">
    <h1 style="text-align: center;font-family:'Raleway', sans-serif;">Puntos de venta</h1> 
</div>

<div class="row">
        <br>
        <div class="justify-content-center align-self-center">
            <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                (click)="showHideCreate()">Crear un punto de venta</button>
        </div>

        <br>
        <br>
    </div>
    <div class="row">
    <div class="col-md-7">
    
        <table class="table table-bordered table-hover">
            <thead class = "thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Ciudad</th>
                    <th>Ubicacion</th>
                    <th>Latitud</th>   
                    <th>Longitud</th> 
                    <th>Numero Vendedores</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let puntos of puntosVenta">
                    <td>{{puntos.id}}</td>
                    <td>{{puntos.ciudad}}</td>
                    <td>{{puntos.ubicacion}}</td>
                    <td>{{puntos.latitud}}</td>
                    <td>{{puntos.longitud}}</td>
                    <td>{{puntos.numeroVendedores}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-6">
        <div *ngIf="showView">
            <app-puntoventa-detail [puntoventaDetail]="selectedPuntoventa"></app-puntoventa-detail>
        </div>
        <div *ngIf="showCreate">
            <app-puntoventa-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-puntoventa-create>
        </div>
    </div>
</div>

