<ul class="nav nav-tabs">
  <li class="nav-item">
      <a id="automovilesTag" class="nav-link" routerLink="/automoviles/list">Automoviles</a>
  </li>
  
  <li class="nav-item">
      <a id="puntosventaTag" class="nav-link" routerLink="/puntos/list">Puntos de venta</a>
  </li>
  
  <li class="nav-item">
      <a id="articulosTag" class="nav-link" routerLink="/articulos/list">Articulo</a>
  </li>
    
  <li class="nav-item">
    <a id="clientesTag" class="nav-link" routerLink="/clientes/list">Clientes</a>
</li>
<li class="nav-item">
      <a id="marcasTag" class="nav-link" routerLink="/marcas/list">Marcas</a>
  </li>
  <li class="nav-item">
    <a id="modelosTag" class="nav-link" routerLink="/modelos/list">Modelos</a>
</li>
</ul>
<div class="list">
  <router-outlet></router-outlet>
</div>