<div class="row">
    <div class="rcorners1 col-4" style=" height: 600px; margin-top: 1%; margin-right: 15px ; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Editar Articulo</h1>
    <form name="articulo" (ngSubmit)="f.form.valid && createArticulo()" #f="ngForm" novalidate>
          
          <div class="form-group">
              <label for="automovilId"><b>Automovil</b></label>
              <input type="text" name="automovilId" class="form-control" id="automovilId" [(ngModel)]="articulo.idAuto"
                  #automovilId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && automovilId.invalid }"
                  required>
              <!--
                          <div class="invalid-feedback">
                  <div>No se ha llenado el campo de la id del automovil del articulo</div>
              </div>
                  -->

          </div>
          <div class="form-group">
              <label for="descripcion"><b>Descripcion</b></label>
              <input type="text" name="descripcion" class="form-control" id="description" [(ngModel)]="articulo.descripcion"
                  #descripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && descripcion.invalid }"
                  required>
              <!--
                      <div class="invalid-feedback">
                  <div>No se ha llenado el campo de la descripcion del articulo</div>
              </div>
                  -->

          </div>
          <div class="form-group">
              <label for="precio"><b>Precio</b></label>
              <input type="text" name="precio" class="form-control" id="precio" [(ngModel)]="articulo.precio"
                  #precio="ngModel" [ngClass]="{ 'is-invalid': f.submitted && precio.invalid }"
                  required>
              <!--
                      <div class="invalid-feedback">
                  <div>No se ha llenado el campo del precio del articulo</div>
              </div>
                  -->

          </div>
          <div class="form-group">

            <label for="disponibilidad" style="padding-right: 15px"><b>Disponibilidad</b></label>
            <input id="checkCamara" type="checkbox" name="camaraReversa" id="camaraReversa" [(ngModel)]="articulo.disponibilidad"
                #camaraReversa="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sensores.invalid }" required>
<!--
        </div>
          <div class="form-group">
              <label for="facturaId"><b>Factura</b></label>
              <input type="text" name="facturaId" class="form-control" id="facturaId" [(ngModel)]="articulo.idFac"
                  #facturaId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && facturaId.invalid }"
                  required>
              
                  <div class="invalid-feedback">
                  <div>No se ha llenado el campo de la placa del automovil</div>
              </div>
              -->
          </div>
          <div class="row form-inline justify-content-center align-self-center">
              <div class="col-md-6">
                  <button type="submit" class="btn btn-primary " (click)="editArticulo()">Editar</button>
              </div>
              <div class="col-md-6">

                  <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancelar</button>
              </div>
          </div>
      </form>
  </div>


</div>