<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">Automóvil: {{automovilDetail.id}}<p> 
        <div class="row">
            <div class="col">
                <dl>     
                    <dt>Modelo</dt>
                    <dd>{{automovilDetail.modelo}}</dd>
                    <dt>Marca</dt>
                    <dd>{{automovilDetail.marca}}</dd>
                    <dt>Año</dt>
                    <dd>{{automovilDetail.anio}}</dd>
                    <dt>Color</dt>
                    <dd>{{automovilDetail.color}}</dd>
                    <dt>Numero de chasís</dt>
                    <dd>{{automovilDetail.numChasis}}</dd>
                    <dt>Placa</dt>
                    <dd>{{automovilDetail.placa}}</dd>
                    <dt>Fecha</dt>
                    <dd>{{automovilDetail.fechaAgregacion}}</dd>
                    <dt>Precio original</dt>
                    <dd>{{automovilDetail.precioOriginal}}</dd>
                    
                </dl>
            </div>
  
        </div>
    </div>
  </div>