<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../src/bootstrap-table-filter.js"></script>
</head>

<div style="background-color: black; z-index: 0">
    <img class="responsive" src="../assets/images/genericBack52.jpg" alt="head"
         style="width: 100%;z-index: -1; position: absolute; float: right; margin-top: -50px">
</div>


<div style="align-content: center; width: 100%">
    <h1 style="text-align: center;font-family:'Raleway', sans-serif; color: white">Modelos</h1> 
</div>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-12">
          <p style="width: 40%; margin-left: 5%; color: white">Buscar por nombre de Modelo:</p>  
  <input style="width: 90%; margin-left: 5%;" type="text" class="form-control" name="searchString" placeholder="Nombre del Modelo..." [(ngModel)]="searchString">

        <table class="table table-striped" style="width: 90%; margin-left: 5%; margin-top: 1%; 
               margin-right: 5%;  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               background-color: white">
            <thead class = "thead-dark" style="background-image: linear-gradient(to right top, #ff4e00, #ff6b00, #ff8500, #ff9b00, #ffb100); ">
                <tr>
                    <th style="color: white; font-family: 'Raleway', sans-serif;">ID</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif;">Nombre</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif;">Numero de Puertas</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif;">Transmision</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif;">Centimetros Cubicos</th>
                    <th style="color: white; font-family: 'Raleway', sans-serif;"></th> 
                    <th style="color: white; font-family: 'Raleway', sans-serif;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let modelo of modelos  | filter : 'nombre' : searchString; let i = index">
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-id" class="figure-caption" routerLink="/marcas/{{modelo.id}}">{{modelo.id}}</td>
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-id" class="figure-caption" routerLink="/marcas/{{modelo.id}}">{{modelo.nombre}}</td>             
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-id" class="figure-caption" routerLink="/marcas/{{modelo.id}}">{{modelo.num_puertas}}</td>
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-id" class="figure-caption" routerLink="/marcas/{{modelo.id}}">{{modelo.transmision}}</td>
                    <td style="font-family: 'Raleway', sans-serif;" id="marca-id" class="figure-caption" routerLink="/marcas/{{modelo.id}}">{{modelo.centimetros_cubicos}}</td>
                    <td id="modelo-edit" *ngxPermissionsOnly="['ADMIN']">
                            <button [ngClass]="{ 'btn-primary': (!showEdit || edit_modelo_id != modelo.id), 'btn-danger': (showEdit && edit_modelo_id == modelo.id) }"
                                type="button" class="btn" (click)="showEditModelo(modelo.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                    <td id="modelo-delete" *ngxPermissionsOnly="['ADMIN']">
                            <button class="btn btn-danger" (click)="deleteModelo(modelo.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="width: 90%; margin-left: 7%; margin-right: 5%; align-content: flex-end">
        <button style="font-family: 'Raleway', sans-serif; background-image: linear-gradient(to right top, #00b25f, #00b25f, #00b25f, #00b25f, #00b25f);" [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
             (click)="showHideCreate()">Crear Modelo</button>
</div>        
 <div>
     <app-modelo-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"></app-modelo-create>
          <app-modelo-edit [modelo_id]="edit_modelo_id" (cancel)="hideEditModelo()" (update)="ngOnInit()"
                *ngIf="showEdit"></app-modelo-edit>

</div>