<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead class = "thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Numero de Puertas</th>
                    <th>Transmision</th>
                    <th>Centimetros Cubicos</th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let modelo of modelos">
                    <td>{{modelo.id}}</td>
                    <td>{{modelo.num_puertas}}</td>
                    <td>{{modelo.transmision}}</td>
                    <td>{{modelo.centimetros_cubicos}}</td>   
                </tr>
            </tbody>
        </table>
    </div>
</div>