<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3">Calificacion: {{calificacionDetail.id}}<p> 
      <div class="row">
          <div class="col">
              <dl>     
                  <dt>Número de estrellas</dt>
                  <dd>{{calificacionDetail.numEstrellas}}</dd>
                  <dt>Comentario</dt>
                  <dd>{{calificacionDetail.comentario}}</dd>
                  
                  
              </dl>
          </div>

      </div>
  </div>
</div>