<div class="row">
    <div class="rcorners1 col-4" style=" height: 350px; margin-top: 1%; margin-left: 13%; width: 350px ; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white">
        
        <h1 style="padding: 5px; font-family: 'Raleway', sans-serif; font-size: 3vw; text-align: center; margin-top: 5px">Ficha Tecnica: {{fichaTecnicaDetail.id}}</h1>

<div class="panel-body">
  <div class="border margin">
      <div class="row">
          <div class="col">
              <dl>     
                  <dt class="tdf">Vidrios</dt>
                  <dd class="ttf">{{fichaTecnicaDetail.vidrios}}</dd>
                  <dt class="tdf">Camara Reversa</dt>
                  <dd class="ttf">{{fichaTecnicaDetail.camaraReversa}}</dd>
                  <dt class="tdf">Sensores</dt>
                  <dd class="ttf">{{fichaTecnicaDetail.sensores}}</dd>
                  <dt class="tdf">Rines</dt>
                  <dd class="ttf">{{fichaTecnicaDetail.rines}}</dd>
                  <dt class="tdf">Aire Acondicionado</dt>
                  <dd class="ttf">{{fichaTecnicaDetail.aireAcondicionado}}</dd>
                  <dt class="tdf">Numero de airbags</dt>
                  <dd class="ttf">{{fichaTecnicaDetail.numAirbags}}</dd>
                  
              </dl>
          </div>

      </div>
  </div>
</div>
                    </div>


</div>