<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3">Ficha Tecnica: {{fichaTecnicaDetail.id}}<p> 
      <div class="row">
          <div class="col">
              <dl>     
                  <dt>Vidrios</dt>
                  <dd>{{fichaTecnicaDetail.vidrios}}</dd>
                  <dt>Camara Reversa</dt>
                  <dd>{{fichaTecnicaDetail.camaraReversa}}</dd>
                  <dt>Sensores</dt>
                  <dd>{{fichaTecnicaDetail.sensores}}</dd>
                  <dt>Rines</dt>
                  <dd>{{fichaTecnicaDetail.rines}}</dd>
                  <dt>Aire Acondicionado</dt>
                  <dd>{{fichaTecnicaDetail.aireAcondicionado}}</dd>
                  <dt>Numero de airbags</dt>
                  <dd>{{fichaTecnicaDetail.numAirbags}}</dd>
                  
              </dl>
          </div>

      </div>
  </div>
</div>
